<a href="https://colab.research.google.com/github/sebastianacevedo1/juanAcevedoEstructuraDatoss/blob/main/tallertuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.)

In [ ]:
fruits = ("apple", "banana", "cherry", "date", "fig", "grape")
print(fruits)
print(len(fruits))

('apple', 'banana', 'cherry', 'date', 'fig', 'grape')
6

2.)

In [ ]:

print(fruits[2])

cherry

3.)

In [ ]:
colors = ("red", "green", "blue")
color1, color2, color3 = colors
print(color1)
print(color2)
print(color3)

red
green
blue

4.)

In [ ]:
numbers1 = (1, 2, 3)
numbers2 = (4, 5, 6)
numbers3 = numbers1 + numbers2
print(numbers3)

(1, 2, 3, 4, 5, 6)

5.)

In [ ]:
repeat = ("repeat",)
print(repeat * 4)

('repeat', 'repeat', 'repeat', 'repeat')

6.)

In [ ]:
numbers = (10, 20, 30, 40, 50)
for number in numbers:
    print(number)

10
20
30
40
50

7.)

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = ("a", "b", "c")
tuple3 = (tuple1, tuple2)
print(tuple3)

((1, 2, 3), ('a', 'b', 'c'))

8.)

In [ ]:
letters = ("a", "b", "c", "d")
if "e" in letters:
    print("La letra 'e' está en la tupla.")
else:
    print("La letra 'e' no está en la tupla.")

La letra 'e' no está en la tupla.

9.)

In [ ]:
my_list = [100, 200, 300, 400]
my_tuple = tuple(my_list)
print(my_tuple)

(100, 200, 300, 400)

10.)

In [ ]:
my_tuple = (5, 10, 15, 20, 25, 30, 35)
print(my_tuple[2])
print(my_tuple[1:5])

15
(10, 15, 20, 25)